.navSec{
    background-color: #cb2424;
}

.brandIcon{
    font-size: 2rem;
}

.menuCont {
    display: table-cell;
    /* Make elements inside the container behave like table cells */
}

.menuIcon{
    font-size: 30px;
    line-height: 16px;
    vertical-align: baseline;
}

.nav-pills .nav-item .nav-link{
    background-color: #cb2424;
}

.nav-pills .nav-item .nav-link.active{
    background-color: #890F01;
}

@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}
